go 1.23.0

use (
	./cmd/predsx
	./libs/clickhouse-client
	./libs/config
	./libs/crypto
	./libs/kafka-client
	./libs/logger
	./libs/postgres-client
	./libs/redis-client
	./libs/retry-utils
	./libs/schemas
	./libs/service
	./libs/websocket-client
	./services/api
	./services/backfill
	./services/market-discovery
	./services/normalizer
	./services/orderbook-engine
	./services/price-engine
	./services/stream
	./services/stream-aggregator
	./services/token-extractor
	./services/trade-engine
)
